#contact {
  margin-top: 1em;
}
.contact {
  align-self: flex-start;
  padding-top: 10%;
  line-height: 1.5;
  ul {
    padding-left: 0;
  }

  li {
    font-size: 90%;
    margin-bottom: 0.5em;
  }
}
