.elem-group {
    position: relative;
    margin-bottom: 40px;

    input {
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #212121;
        border-right: none;
        width: 100%;
        padding: .5em;
    }

    label {
        position: absolute;
        top: -10px;
        transition: top .2s ease-in-out,  font-size .2s ease-in-out;
    }

    .active-input {
        top: -30px;
        font-size: 75%;
    }
}

input, textarea {
    font-size: 70%;
}

textarea {
    width: 100%;
    border: 1px solid #212121;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
    min-height: 100px;
}

label {
    font-size: 75%;
    margin: 10px;
}

[type="submit"] {
    font-size: 80%;
    padding: 1em;
    border: none;
    color: white;
    background-color: $sp;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        background-color: $en;
    }
}