.elem-group {
    position: relative;
    margin-bottom: 40px;

    input {
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #212121;
        border-right: none;
        width: 100%;
        padding: .5em;
    }

    label {
        position: absolute;
        top: -10px;
        transition: top .2s ease-in-out,  font-size .2s ease-in-out;
    }

    .active-input {
        top: -30px;
        font-size: 75%;
    }
}

input, textarea {
    font-size: 70%;
}

textarea {
    width: 100%;
    border: 1px solid #212121;
    margin-top: .5em;
    padding: .5em;
    min-height: 100px;
}

.form-check {
    margin-top: .75em;
    margin-bottom: .75em;

    .form-check-input,
    .form-check-label a {
        cursor:pointer;
    }
}

label {
    font-size: 75%;
    margin: 10px;

    span {
        color: $sp;
    }
}

[type="submit"] {
    font-size: 80%;
    padding: 1em;
    margin-top: 12px;
    border: none;
    color: white;
    background-color: $sp;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        background-color: $en;
    }
}

.invalid-feedback {
    display: none;
    width: 100%;
    font-size: 75%;
    margin-top: .45em;
    color: $invalid;
}
.was-validated .form-control:invalid {
    border-color: $invalid;
}

.form-check-input.is-invalid~.form-check-label, 
.was-validated .form-check-input:invalid~.form-check-label,
.form-check-input.is-invalid~.form-check-label a, 
.was-validated .form-check-input:invalid~.form-check-label a {
    color: $invalid;
}

.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-check-input:invalid~.invalid-feedback {
    display: block;
}

.custom-file {
    position: relative;
    padding: 1rem 1rem 0;
    margin: 1rem -10px 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin: 0;
    opacity: 0;

    &:lang(es)~.custom-file-label::after {
        content: "Elegir";
    }
    &:lang(en)~.custom-file-label::after {
        content: "Browse";
    }
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        height: calc(1.5em + .75rem);
        padding: .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        content: "Browse";
        background-color: #e9ecef;
        border-left: inherit;
        border-radius: 0 .25rem .25rem 0;
    }
}