.elem-group {
    position: relative;
    margin-bottom: 40px;

    input {
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #212121;
        border-right: none;
        width: 100%;
        padding: .5em;
    }

    label {
        position: absolute;
        top: -10px;
        transition: top .2s ease-in-out,  font-size .2s ease-in-out;
    }

    .active-input {
        top: -30px;
        font-size: 75%;
    }
}

input, textarea {
    font-size: 70%;
}

textarea {
    width: 100%;
    border: 1px solid #212121;
    margin-top: .5em;
    padding: .5em;
    min-height: 100px;
}

.form-check {
    margin-top: .75em;
    margin-bottom: .75em;

    .form-check-input,
    .form-check-label a {
        cursor:pointer;
    }
}

label {
    font-size: 75%;
    margin: 10px;

    span {
        color: $sp;
    }
}

[type="submit"] {
    font-size: 80%;
    padding: 1em;
    margin-top: 12px;
    border: none;
    color: white;
    background-color: $sp;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        background-color: $en;
    }
}

.invalid-feedback {
    display: none;
    width: 100%;
    font-size: 75%;
    margin-top: .45em;
    color: $invalid;
}
.was-validated .form-control:invalid {
    border-color: $invalid;
}

.form-check-input.is-invalid~.form-check-label, 
.was-validated .form-check-input:invalid~.form-check-label,
.form-check-input.is-invalid~.form-check-label a, 
.was-validated .form-check-input:invalid~.form-check-label a {
    color: $invalid;
}

.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-check-input:invalid~.invalid-feedback {
    display: block;
}

