.nav_menu {
  display: none;
  background-color: #fafafa;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  .nav-items {
    position: relative;
    height: 55vh;
  }

  ul {
    padding-left: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  li {
    margin-bottom: 1.55em;
  }

  li a {
    color: $sp;
    list-style: none;
    font-size: 2em;
  }

  li a:hover {
    color: $en;
  }
}
