.down-arrow {
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  cursor: pointer;
  text-align: center;

  p {
    // display: inline;
    font-size: 80%;
  }

  .bar {
    background-color: black;
    width: 20px;
  }

  .bar:nth-of-type(1) {
    transform: translateX(13px) translateY(12px) rotate(-45deg);
  }

  .bar:nth-of-type(2) {
    transform: translateY(0) rotate(45deg);
  }
}
