.flex-row {
  display: flex;
  flex-wrap: wrap;

  &.flex-row_align-center {
    align-items: center;
    height: 100vh;
  }
}

.col,
.col-5,
.col-7,
.col-12 {
  position: relative;
  width: 100%;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 4rem;
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
