.grid-container {
    padding-top: 2em;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 9;
    display: grid;
    position: fixed;
    top: 0;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    transition: all 2s;
    &.header.header_bg {
        top: -99px;
        opacity: 0;
    }
}