.grid-container {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
    z-index: 9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    width: 100%;
}