@keyframes topToBottom {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate_topToBottom {
  animation-name: topToBottom;
  animation-duration: 4s;
}
