@keyframes topToBottom {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate_topToBottom {
  animation-name: topToBottom;
  animation-duration: 4s;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate_rightToLeft  {
  animation-name: rightToLeft;
  animation-duration: 2s;
}
